<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baizhi.dao.BannerDao">

    <select id="selectAll" resultType="Banner">

      select * from banner LIMIT #{start},#{end}

    </select>

    <select id="selectCount" resultType="int">
        SELECT count(*) FROM banner

    </select>

    <insert id="insert">
       insert into banner VALUES(0,#{name},#{url},#{status},#{description},SYSDATE())

    </insert>

    <delete id="deleteMany">
        delete from banner where id =#{id}

    </delete>

    <update id="update">
         update banner set name =#{name},url=#{url},status=#{status},
         description=#{description},createDate=#{createDate} where id =#{id}
    </update>






</mapper>